body {background-color:lightgrey;}
h1   {color:blue;}
p    {color:green;}

button {
    margin: 3px;
    background-color: #4CAF50; /* Green */
    #border: none;
    color: white;
    padding: 10px 26px;
    #text-align: center;
    #text-decoration: none;
    #display: inline-block;
    font-size: 12px;
}
