<!DOCTYPE html>
<html>
<head>
    <title>White Horse - Home</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/sockjs-0.3.4.js"></script>
    <script src="js/stomp.js"></script>
    <script src="js/microajax.js"></script>
    <script src="js/index.js"></script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>


<div>
    <h1 id="header">Hello</h1>

    <div>
        <button class="myButton" id="connect" onclick="connect();">Connect</button>
        <button class="myButton" id="disconnect" onclick="disconnect();">Disconnect</button>
        <button class="myButton" id="logout" onclick="logout();">Logout</button>
    </div>
    <br/>

    <div id="conversationDiv">
        <p class="borderTop borderBottom"><label>Message: </label><input type="text" id="message"/>
        <button id="sendMessage" onclick="sendMessage();">Send</button></p>
        <div id="response"></div>
    </div>
</div>
</body>
</html>